.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}




#navigator{
  display: flex;
  height: 4em;
  border-radius: .1em;
}

#about{
  justify-content: center;
  margin: auto;
  width: 50%;
  border-radius: 4em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
  margin-left: 10px;
  margin-right: 10px;
  color: black
}

a:hover{
  color: black;
}

a:visited{
  color: black
}